@define-color background  rgba(21, 21, 32, 0.75);
/* @define-color background  #151520; */
@define-color text        #D5DBFF;
@define-color warning     #f38ba8;
@define-color caution     #45475a;
@define-color performance #f5c2e7;
@define-color audio       #cba6f7;
@define-color misc        #94e2d5;
@define-color work        #b4befe;
@define-color resize      #eba0ac;
@define-color process     #89b4fa;

/* Reset all styles */
* {
  color: @text;
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
}

/* Main bar defaults */
#waybar.main {
  border: 2px solid @caution;
  background: @background;
  border-radius: 8pt;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12pt;
  font-weight: 500;
}

#waybar.main button {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12pt;
  font-weight: 500;
  transition: all 0.15s ease-in-out;
}

/* Main bar modules */
#waybar.main #custom-wlogout,
#waybar.main #custom-nvidia,
#waybar.main #custom-weather,
#waybar.main #custom-weather,
#waybar.main #custom-battery,
#waybar.main #keyboard-state,
#waybar.main #network,
#waybar.main #battery,
#waybar.main #backlight,
#waybar.main #clock,
#waybar.main #cpu,
#waybar.main #language,
#waybar.main #memory.swap,
#waybar.main #memory.ram,
#waybar.main #submap,
#waybar.main #pulseaudio,
#waybar.main #temperature,
#waybar.main #window,
#waybar.main #disk {
  padding-left: 8pt;
  padding-right: 8pt;
  padding-bottom: 4px;
  padding-top: 4px;
  background: transparent;
}


/* Module colors */
#waybar.main #custom-nvidia,
#waybar.main #cpu,
#waybar.main #temperature,
#waybar.main #memory.ram,
#waybar.main #memory.swap,
#waybar.main #disk,
#waybar.main #network {
  color: @performance;
}

#waybar.main #pulseaudio {
  color: @audio;
}

#waybar.main #custom-battery,
#waybar.main #language,
#waybar.main #backlight,
#waybar.main #battery,
#waybar.main #custom-weather,
#waybar.main #clock {
  color: @misc;
}


#waybar.main #network.info {
  color: @caution;
}

#waybar.main #network.info.wifi.normal,
#waybar.main #network.info.ethernet {
  color: @performance;
}

#waybar.main #network.info.wifi {
  color: @warning;
}

/* Submap */
#waybar.main #submap.󰲏 {
  color: @resize;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

#waybar.main #submap. {
  color: @misc;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}


/* Main bar criticals */
#waybar.main #custom-nvidia.critical,
#waybar.main #custom-battery.critical,
#waybar.main #workspaces button.urgent,
#waybar.main #workspaces button.special.urgent,
#waybar.main #memory.swap.critical,
#waybar.main #memory.ram.critical,
#waybar.main #cpu.critical,
#waybar.main #temperature.critical,
#waybar.main #battery.critical.discharging {
  color: @caution;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

/* Main bar warnings */
#waybar.main #pulseaudio.output.muted,
#waybar.main #pulseaudio.input.source-muted {
  color: @caution;
}

#waybar.main #custom-battery.warning,
#waybar.main #battery.warning.discharging {
  color: @warning;
}

/* Battery chargin */
#waybar.main #custom-battery.charging {
  color: @misc;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

/* Workspace */
/* Default workspace settings */
#waybar.main #workspaces button {
  color: @caution;
  background: transparent;
  border: 1.5px solid transparent;
  padding-left: 2pt;
  padding-right: 2pt;
  border-radius: 16px;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  transition: all 0.25s ease;
}

/* Focused workspace */
#waybar.main #workspaces button.visible {
  color: @text;
}

/* Focused workspace & monitor */
#waybar.main #workspaces button.active {
  color: @text;
  border: 1.5px solid @caution;
}

/* Style when cursor is on the button */
#waybar.main #workspaces button:hover {
  color: @text;
}

/* Special workplace animation */
#waybar.main #workspaces button.special.active {
  border: 1.5px solid transparent;
  color: @text;
  transition: all 0s ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-modifier-text;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

/* Spacers */
#waybar.main #custom-spacer1,
#waybar.main #custom-spacer2,
#waybar.main #custom-spacer3 {
  font-size: 10pt;
  font-weight: bold;
  color: @caution;
  background: transparent;
}

/* Tooltip */
tooltip {
  background: @background;
  border: 3px solid @caution;
  border-radius: 8px;
  font-weight: 500;
  font-family: "JetBrains Mono Nerd Font";
}

/* Keyframes for main bar criticals */
@keyframes blink-critical-text {
  to {
    color: @warning;
  }
}

/* Keyframes for main bar modifiers */
@keyframes blink-modifier-text {
  to {
    color: @caution;
  }
}

/* Indicator bar keyframes */
@keyframes blink-critical-battery {
  to {
    border-color: @warning;
  }
}

@keyframes blink-warning-battery {
  to {
    border-color: @warning;
  }
}

@keyframes blink-discharging-battery {
  to {
    border-color: @warning;
  }
}

@keyframes blink-charging-battery {
  to {
    border-color: @misc;
  }
}

@keyframes blink-full-battery {
  to {
    border-color: @misc;
  }
}

/* border indicator bar battery module */
/* Set "battery bar" style */
#waybar.main #custom-batteryindicator {
  border: 2.5px solid @caution;
  background: @background;
  border-radius: 8pt;
  /* padding-left: 2237.5px; */
  /* width: :autofill; */
  /* Use this for padding:  */
  /* (H_rez / scaling) - L_margin -R_margin - 2 * border - (font-size / 2)*/
  /* For example: (2880px / 1.25) - 24 - 24 - 2 * 2.5 - (27 / 2) = 2237.5px */
}

/* Blink red when battery is very low */
#waybar.main #custom-batteryindicator.critical {
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical-battery;
  animation-duration: 1s;
  animation-timing-function: steps(15);
}

/* Blink red twice when battry is low battery */
#waybar.main #custom-batteryindicator.warning {
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-name: blink-warning-battery;
  animation-duration: 0.2s;
  animation-timing-function: steps(15);
}

/* Blink once red when disconnected from AC */
#waybar.main #custom-batteryindicator.discharging {
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-name: blink-discharging-battery;
  animation-duration: 0.3s;
  animation-timing-function: steps(15);
}

/* Blink once cyan when plugged to AC */
#waybar.main #custom-batteryindicator.charging {
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-name: blink-charging-battery;
  animation-duration: 0.3s;
  animation-timing-function: steps(15);
}

/* Blink cyan twice when battery is full */
#waybar.main #custom-batteryindicator.full {
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-name: blink-full-battery;
  animation-duration: 0.2s;
  animation-timing-function: steps(15);
}
